a{
    display: inline-block;
    margin-bottom: 1em;
}
a[target="_blank"]::after {
    content: url(imagens/newWindow-icon.png);
    margin-left: 0.5em;
}
a[href$=".pdf"]::before {
    content: url(imagens/pdf-icon.gif);
    margin-right: 0.5em;
}
input[type="checkbox"]:checked + label{
    /*O pseudo-classe :checked no CSS é usada para selecionar elementos de entrada (como <input>) que estão marcados ou selecionados. Ela funciona em elementos do tipo checkbox, radio, e, em alguns casos, option (de <select>).*/
    color: green;
}
input[type="checkbox"]:not(:disabled)+ label{
    color: red;
}
input[type="checkbox"]:disabled + label{
    color: blue;
}
li li:nth-child(3n){
    background-color: yellow;
}